# Charcoal
# ------------------

config/config.*.*
!config/config.sample.*
www/uploads/*
!www/uploads/.gitkeep

# General
# ------------------

# Logs

*.log
error_log
logs/
www/error_log
www/charcoal.app.log

# Caches

mustache_cache/
www/mustache_cache/
tmp/

# Package Managers
# ------------------

composer.phar
vendor/
node_modules/
bower_components/
