{{!--

    Ressources Attachment
    =====================

--}}

<div>
    {{# title }}
        <h3>{{&.}}</h3>
    {{/ title }}
    {{&description}}
    <ul>
        {{#attachments}}
            <li>
                {{#isFile}}
                    <a href="{{baseUrl}}{{file}}"
                       target="_blank">{{title}}</a>
                {{/isFile}}
                {{#isLink}}
                    <a href="{{link}}"
                       target="_blank">{{title}}</a>
                {{/isLink}}
            </li>
        {{/attachments}}
    </ul>
</div>
