{{>boilerplate/partial/site/header}}

{{# currentSection }}

    {{>boilerplate/partial/site/nav}}

    {{> boilerplate/partial/site/breadcrumb }}

    <h1>{{title}}</h1>

{{/ currentSection }}

{{>boilerplate/partial/site/footer}}
