{{!--

    Text with image Attachment
    ==========================

--}}

<h4>{{& title }}</h4>
{{& description }}
<img class="c-content-boxes_image"
     src="{{#withBaseUrl}}{{file}}{{/withBaseUrl}}{{^withBaseUrl}}{{file}}{{/withBaseUrl}}"
     alt="">
