{{!--

    Video Attachment
    ================

--}}

{{# title }}
    <h3>{{ . }}</h3>
{{/ title }}
{{# description }}
    <p>{{&.}}</p>
{{/ description }}
<div class="o-video">
    {{&embed}}
</div>
