{{>city/partial/site/header}}

{{# currentSection }}

    {{>city/partial/site/nav}}

    {{> city/partial/site/breadcrumb }}

    <h1>{{title}}</h1>

{{/ currentSection }}

{{>city/partial/site/footer}}
